/* global styles */
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", sans-serif;
}

body{
    font-family:"Poppins", sans-serif;
  
}

a{
    color:black;
    text-decoration: none;
}
:root{
    --main-color :#e65f78;
    --main-rgb :230, 95, 120;
}

.bg-main{
    background-color: var(--main-color);
}

.bg-grey{
    background-color: #F7F7F7;
}

.text-main{
    color: var(--main-color);
    
}

img{
    width: 100%;
}

bg-grey{
    background-color:#F1F1F1 ;
}

/* navbar styles */


.navbar-nav li ::after{
    content: "";
    display: block;
    width:85%;
    height: 1px;
    background-color: white;
    margin-top: 1px;
    transition: all ease-in-out 0.5s;
    opacity: 0;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: white;
  }

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link{
    

    &::after{
        opacity:1;
        animation: slide 0.5s ;
    }
}

.navbar-light .navbar-nav .nav-link:hover{
    color: var(--main-color);
}

.navbar{
    z-index: 99;
}
/* Header styles */

#header{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url(../imgs/imgs/bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.btn{
    color: white;
}
.btn:hover {
    background-color: white;
    color:black;
}




/* About styles */

.about-bg{
 z-index:-1;
 top: 30%;

}

.progress{
    height: 25px;
}


.btn-1{
    background-color: black;
    color: white;
}
.btn-1:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn-2{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn-2:hover{
    background-color: black;
    color: white;
}
.social-icons  li a  {
   
    width: 30px;
    height: 30px;
    border: 1px solid transparent ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    color: white;
    background-color:#081721 ;
    
}

.social-icons{
    bottom:30%;
}

.services-img{
    width: 100px;
    height: 100px;
   img{
    border-radius: 50%;
   }
   margin:auto;
    
}

.carousel-indicators{
    bottom:-20px;
}

.carousel-indicators [data-bs-target]{
    background-color: rgba(grey, 0.5);
    height: 10px;
    width:10px;
    border-radius:50%;
}

.carousel-indicators [data-bs-target]{
    background-color: grey;
}

/* portfolio styles */

.work-item{
    width: 400px;
    
}

.work-item::after{
    content:"";
    position:absolute;
    inset:0;
    background-color: white;
    opacity: 0;
    transition: all 0.2s ease;
    z-index:2;

}



.overlay{
    visibility: hidden;
    width:95%;
   
    margin:2.5%;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.2s ease ;
    z-index:3;
}

.nav-tab-icons a i{
    width: 30px;
    height: 30px;
    color: white;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
}

.nav-tab-icons a i:hover{
   color: black;
   background-color: white;
}

.work-item:hover .overlay{
   visibility: visible;  
}

.work-item:hover::after{
   opacity:0.5;  
 }

 

  .nav-pills .nav-link {
    color: black;
  }

  .nav-pills li ::after{
    content: "";
    display: block;
    width:85%;
    height: 2px;
    background-color: black;
    margin-top: 1px;
    transition: all ease-in-out 0.5s;
    opacity: 0;
  }

  @keyframes slide{
    0% {
        width: 0%;
    }

    50% {
        width: 50%;
    }
    
    100% {
        width: 85%;
    }
  }

  .nav-pills .nav-link.active{
   
    background-color: transparent;
    color: black;
    &::after{
        opacity: 1;
        animation: slide 0.5s ;
    }
  }

  .first-two input {
    width: 48%;
}

.form-control{
    background-color:#F4F4F4 ;
}

.form-control:focus {
    box-shadow: none;
    border-color: transparent;
    background-color:#F4F4F4 ;
}

#contact .btn{
    background-color: black;
    color: white;
    transition: all 0.6s ;
}

#contact .btn:hover {
    background-color: white;
    color: black;
    border: 1px solid;
}

.contact-icon, .service-icon{
    width: 70px;
    height: 70px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F4F4F4 ;
}

#contact .m-auto{
    width: 60%;
}

.contact-item{
    i{color:grey;}
   transition: all 0.2s ease;
}

.contact-item:hover .contact-icon{
    background-color:black ;
    i{color:white;}
    
  
}

.service-content:hover .service-icon{
    background-color:black ;
    i{color:white;}
    
  
}

/* blog */
.card-body{
    background-color: #5B5B5B;
}

.card::after {
    content: "";
    background-color:rgba(255, 255, 255, 0.8);
    width: 90%;
    height: 400px;
    position: absolute;
    inset:0;
    margin: 5%;
    transition: all 0.2s;
    opacity:0;
    cursor:pointer;
    z-index: 2;
    
   
    
}
@keyframes rotate {
    50%{
        
    transform: rotateY(180deg);
       
    }
}
.card:hover::after{
   opacity:1;
   animation:rotate 1s;
}
.card{
    overflow: hidden;
}
.card img{
    transition: all  0.5s;
}
.card img:hover {
    transform: scale(1.05);
    
}

.card-overlay{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index:3;
  visibility: hidden;
  transition: all  0.1s;
 
}

.card:hover .card-overlay{
    visibility: visible;
}

.card .social-icons li :hover {
    background-color: white;
    color: black;
    border: 1px solid;
    
}

.header-caption h1::after {
    content:"";
    animation: header-animation 3s  infinite;
  }



@keyframes header-animation {
    0% {content: "|";}
    3% {content: "L|";}
    5% {content: "La|";}
    7% {content: "Lar|";}
    10% {content: "Larr|";}
    13% {content: "Larry|";}
    15% {content: "Larry D|";}
    17% {content: "Larry Dan|";}
    20% {content: "Larry Dani|";}
    24% {content: "Larry Danie|";}
    25% {content: "Larry Daniels|";}
    27% {content: "Larry Danie|";}
    30% {content: "Larry Dani|";}
    32% {content: "Larry Dan|";}
    35% {content: "Larry D|";}
    37% {content: "Larry|";}
    40% {content: "Larr|";}
    42% {content: "Lar|";}
    45% {content: "La|";}
    47% {content: "L|";}
    50% {content: "|";}
    52% {content: "Dev|";}
    55% {content: "Deve|";}
    57% {content: "Devel|";}
    60% {content: "Develo|";}
    62% {content: "Develop|";}
    65% {content: "Developer|";}
    67% {content: "Develop|";}
    70% {content: "Devlo|";}
    72% {content: "Devel|";}
    75% {content: "Deve|";}
    77% {content: "Dev|";}
    80% {content: "|";}
    82% {content: "Des|";}
    85% {content: "Desi|";}
    88% {content: "Desig|";}
    90% {content: "Design|";}
    92% {content: "Designer|";}
    95% {content: "Design|";}
    98% {content: "Desig|";}
    99% {content: "Des|";}
    100% {content: "|";}
  }

